.demographicStyle{
    
    border: 1px solid lightblue;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: justify;
}
.changeBackground{
    background-color: yellowgreen;
    color: blue;
}

.demoBoxStyleGreen{
  font-size: 10px;
  background-color: lightgrey;
  width: 200px;
  border: 3px solid rgb(61, 148, 3);
  padding: 15px;
  margin: 10px;
}
.demoBoxStyleOrange{
  font-size: 10px;
  background-color: lightgrey;
  width: 200px;
  border: 3px solid rgb(253, 117, 6);
  padding: 15px;
  margin: 10px;
}

.Headerfont{
  font-size: 40px;
}
.subHeaderfont{
  font-size: 10px;
}

.backgroundTitle {
  margin-bottom: 5px;
  background-image: url('../../Resources/bacteria_title.jpg');
  background-position: 0% 10%;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(21, 21, 63);
  /* text-shadow: black 0.1em 0.1em 0.1em; */
}